[submodule "libs/raygui"]
	path = libs/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "libs/raylib"]
	path = libs/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "libs/rdrawing"]
	path = libs/rdrawing
	url = git@github.com:gungim/raylib-drawing.git
